* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Helios", sans-serif;
    color: #313037;
}

.link-wrap{
    margin-top: 50px;
}